{% extends 'layout.html'%}

{% block content%}
        <section class="header">
            <h1>Emmanuel Rothwell Jr</h1>
            <p>Life Long Learner</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="/static/css/inphilly.jpg" alt="picture of myself with philadelphia skyline behind me">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2> Life Turned Upside-Down</h2>
            <p>
               My life used to center around running my dads company and training, sounds pretty great right? Yet, when COVID happened and we were all locked inside for months I realized 
               I wasn't as happy as I thought. I began to explore different life paths. I learned how to edit videos with Final Cut Pro. Then I moved too learning how to play Guitar. This pattern kept strong whether it was to play chess most of my wake hours or buying a surf board. My life for those few months centered around the thought of "What can I learn next". Eventually that thought led me to
               Programming
            </p>
            <p>
              Though the timing couldnt of been worse. As I started my first course we all went back to work, but I in that short time I was still able to see the depth of this field was endless and could fill any desire I have to continue learning.
              The idea of changing careers festered for a long time until recently it boiled over and I quit my job to take a chance at something I am quickly growing to love.
            </p>
            <a href="/static/css/Rothwell Jr., Emmanuel Resume.docx.pdf"><i class="far fa-file"></i>Resume</a>
        </section>
 {% endblock %}